.MuiStack-root.watermark {
    visibility: hidden !important;
}
.MuiStack-root.watermark::before {
    content: "Multivac can make mistakes. Consider checking important information.";
    font-size: x-small;
    color:gray;
    visibility: visible !important;
    /* Other CSS styles for the pseudo-element */
}